<div class="well">
  <h3>Github user</h3>
  <h4><%= @current_user.name %></h4>
  <h4>e-mail: <%= @current_user.email %></h4>
  <h4>Repositories:</h4>
  <ul>
  <%= for repo <- Parma.User.repositories(@current_user) do %>
    <li><%=repo["owner"]["login"]%>/<%= repo["name"] %></li>
  <% end %>
  </ul>
</div>

