<div class="well">
  <h3>Github user</h3>
  <h4><%= @current_user.name %></h4>
  <h4>e-mail: <%= @current_user.email %></h4>
  <div>
    <a class="btn btn-info" href="<%= repository_path(@conn, :index) %>" title="Repositories">
      My Repositories
    </a>
  </div>
</div>

